<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.qlrl.repository.HistoryOfAttendanceRepository">

    <insert id="addHistory" parameterType="map">
        INSERT INTO history_of_attendance
        (`CLASS_ID`, `LESSON`, `NUM_CLASS_PERIOD`, `CREATED_DATE`)
        VALUES (
        #{classId},
        #{lesson},
        #{numClassPeriod},
        NOW());
    </insert>

    <select id="countLessonAttendance" parameterType="map" resultType="Integer">
        SELECT COUNT(DISTINCT LESSON) FROM history_of_attendance
        WHERE CLASS_ID = #{classId}
    </select>

    <select id="getTotalClassPeriodInLess" parameterType="map" resultType="map">
        SELECT NUM_CLASS_PERIOD as totalCPInLess
        FROM history_of_attendance
        WHERE CLASS_ID = #{classId} AND LESSON = #{lesson}
    </select>

    <select id="getTotalClassPeriodInClass" parameterType="map" resultType="map">
        SELECT SUM(NUM_CLASS_PERIOD) as totalCPInClass
        FROM history_of_attendance
        WHERE CLASS_ID = #{classId}
    </select>

</mapper>